server:
  port: 8899

database:
  url: postgresql://postgres:postgres@localhost:5432/knowledge-base

redis:
  url: redis://139.180.223.98:16279/

vector:
  type: elasticsearch
  elasticsearch:
    url: https://localhost:9201/
    username: elastic
    password: es39qlC2CNS2X79cBQdi

embeddings:
  models:
    - name: BAAI/bge-base-zh-v1.5
      displayName: BAAI/bge-base-zh-v1.5
      dimension: 768
    - name: jinaai/jina-embeddings-v2-base-en
      displayName: jinaai/jina-embeddings-v2-base-en
      dimension: 768
    - name: jinaai/jina-embeddings-v2-small-en
      displayName: jinaai/jina-embeddings-v2-small-en
      dimension: 512
    - name: moka-ai/m3e-base
      displayName: moka-ai/m3e-base
      dimension: 768
